<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <p class="navbar-brand col-sm-3 col-md-2 mr-0">
         <img class="brand-logo" src="assets/cloud.svg" alt="positronX.io Logo">
    </p>
</nav>
<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a [ngClass]="selected == 0 ? 'nav-link active' : 'nav-link'" (click)="selected = 0">
                            <i class="fas fa-user"></i>User Profile
                        </a>
                    </li>
                    <!-- Search Page -->
                    <li class="nav-item">
                        <a [ngClass]="selected == 1 ? 'nav-link active' : 'nav-link'" (click)="selected = 1">
                            <i class="fas fa-search"></i>Search
                        </a>
                    </li>
                    <!-- Admin Page -->
                    <li class="nav-item">
                        <a [ngClass]="selected == 2 ? 'nav-link active' : 'nav-link'" *ngIf="authService.isUserAdmin()" (click)="selected = 2">
                            <i class="fas fa-toolbox"></i>Admin
                        </a>
                    </li>
                    <!-- Calling SignOut() Api from AuthService -->
                    <li class="nav-item">
                        <a class="nav-link" (click)="authService.SignOut()">
                            <i class="fas fa-sign-out-alt"></i>Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <app-user-info *ngIf="selected == 0"></app-user-info>
            <app-search *ngIf="selected == 1"></app-search>
            <app-admin *ngIf="selected == 2"></app-admin>
        </main>
    </div>
</div>