<div class="inner-adjust">
    <div class="row">
        <div class="col-md-12">
            <div class="media">
                <div class="media-body">
                    <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="input-form">
                        <div class="form-group input-form-div">
                            <label class="infput-form-header-text" for="name">Active substance</label>
                            <input type="text" class="form-control input-text-box" [(ngModel)]="drugReq.activeSubstance" name="active_substance">
                        </div>
                        <div class="form-group input-form-div">
                            <label class="infput-form-header-text" for="name">Drug</label>
                            <input type="text" class="form-control input-text-box" [(ngModel)]="drugReq.drug" name="drug">
                        </div>
                        <div class="form-group input-form-div">
                            <label class="infput-form-header-text" for="name">Packaging</label>
                            <input type="text" class="form-control input-text-box" [(ngModel)]="drugReq.packaging" name="packaging">
                        </div>
                        <div class="form-group input-form-div">
                            <label class="infput-form-header-text" for="name">Reference packaging</label>
                            <input type="text" class="form-control input-text-box" [(ngModel)]="drugReq.referencePackaging" name="reference_packaging">
                        </div>
                        <div class="form-group input-form-div">
                            <label class="infput-form-header-text" for="name">Manufacturing company</label>
                            <input type="text" class="form-control input-text-box" [(ngModel)]="drugReq.manufacturingCompany" name="manufacturing_company">
                        </div>
                        <div class="form-group input-form-div">
                            <label class="infput-form-header-text" for="name">Public price €</label>
                            <input type="text" class="form-control input-text-box" [(ngModel)]="drugReq.publicPrice" name="public_price">
                        </div>
                        <div class="submit-button-div">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>